<div class="bar-dashboard">

    <div class="row gx-0 header">
        <div class="space">
            
        </div>
        <div class="logo">
            <img src="assets\images\hexagonal.png" alt="logo tribar">          
        </div>

        <div class="right-header">
            <div class="bar-name">
                <p>BarName</p>
            </div>
            <div class="out">
                <button  class="out-button" (click)="goBack()">
                    <mat-icon>logout</mat-icon>                        
                </button>
            </div>
        </div>

    </div>
    <div class="row gx-0 main">

        <div class="row gx-0 one-row">

            <div class="col one-col">            
                <button type="submit" [disabled]="false"
                class="main-button"  (click)="openDialog()">Generar reserva</button>

                <button type="submit" [disabled]="false"
                class="main-button">Gestionar evento</button>            
            </div>

            <div class="col two-col"> 
                <div class="box-total ">
                    <p class="value">{{totalReservations}}</p>
                    <p class="title">Total</p>
                </div>
                    
                <div class="box-confirm ">
                    <p class="value">{{totalConfirmArrive}}</p>
                    <p class="title">Confirmadas</p>
                </div>
            </div> 

        </div>
        <div class="row gx-0 two-row">
            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text" id="addon-wrapping">Codigo</span>
                <input type="text" class="form-control"  aria-describedby="addon-wrapping">
            </div>
        </div>
        <div class="row gx-0 main-reservation">

            <div class="card-reservation">  
                <cdk-virtual-scroll-viewport itemSize="40" class="virtual-scroll-container">
                    <ng-container  *cdkVirtualFor="let reserva of getReservationsUnconfirm();  let i = index ">
                      <div class="reservation" >
                            <div class="label">            
                                <div class="checkbox-wrapper-31">
                                    <input type="checkbox"  id="{{reserva._id}}" (change)="onConfirmBar(reserva._id,reserva.code)" [(ngModel)]="reserva.isChecked"/>
                                    
                                    <svg  viewBox="0 0 35.6 35.6">
                                    <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
                                    <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
                                    <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
                                    </svg>
                                </div>
                                <label > Nueva reserva {{reserva.code}} </label>
                            </div>
                            <div  class="buttons">
                                <button  class="reservation-button" (click)="editReservation()">
                                    <mat-icon>edit</mat-icon>                        
                                </button>
                                
                                <button class="reservation-button" (click)="deleteReservation(reserva._id,reserva.code)">
                                    <mat-icon>delete_outline</mat-icon>
                                </button> 
                                
                                <div class="reservation-button people" >
                                    <p>{{reserva.numberOfpeople}}   </p>
                                    
                                    <img src="assets\images\grupo.png" alt="Eliminar reserva"  >
                                    
                                </div>
                            </div>
                            
                      </div>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" [style.width.%]="reserva.progressBar"></div>
                      </div>
                    </ng-container>
                  </cdk-virtual-scroll-viewport>
                                             
                
                <div class="box total">
                    <p>{{numberOfUnconfirm}}</p>
                </div>

            </div>

            <div class="transparent-card"></div>

            <div class="card-reservation">
               
                <cdk-virtual-scroll-viewport itemSize="40" class="virtual-scroll-container">
                <ng-container  *cdkVirtualFor="let reserva of getReservationsConfirm(); let i = index" >
                    <div class="reservation">
                        <div class="label">
                            <div class="checkbox-wrapper-31">
                                <input type="checkbox" (change)="onConfirmArrive(reserva._id,reserva.code)" [(ngModel)]="reserva.isChecked "/>
                                <svg  viewBox="0 0 35.6 35.6">
                                  <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
                                  <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
                                  <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
                                </svg>
                              </div>
                              
                        <label class="label1">  Reserva de {{reserva.code}} </label>
                        </div>
                        <div  class="buttons">
                            <button  class="reservation-button" (click)="editReservation()">
                                <mat-icon>edit</mat-icon>                        
                            </button>
                            
                            <button class="reservation-button" (click)="deleteReservation(reserva._id,reserva.code)">
                                <mat-icon>delete_outline</mat-icon>
                            </button> 
                            
                            <div class="reservation-button people" >
                                <p>{{reserva.numberOfpeople}}   </p>
                                
                                <img src="assets\images\grupo.png" alt="Eliminar reserva"  >
                                
                            </div>
                        </div>  
                        
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [style.width.%]="reserva.progressBar"></div>
                    </div>
                </ng-container>
                </cdk-virtual-scroll-viewport>
                <div class="box confirm">
                    <p>{{numberOfConfirm}}</p>
                </div>

            </div>
        

        </div>

    </div>

</div>