<div class="bar-dashboard">   
    <div class="header">
        <div class="hexagon">
            <img src="assets\images\hexagonal.png" alt="logo tribar">
            <div class="text-overlay">TRIBARYA</div>
        </div>
        <div class="bar-name">
            <p>BarName</p>
        </div>
        <div class="out">
            <button  class="out-button" (click)="goBack()">
                <mat-icon>logout</mat-icon>                        
            </button>
        </div>
    </div>
    <img src="assets\images\hojaI.png" alt="hojaI" class="hoja left">
    <img src="assets\images\hojaD.png" alt="hojaD" class="hoja right">

    <div class="main">
        
        <div class="row-1">
            <div class="col-1">            
                <button type="submit" [disabled]="false"
                class="main-button">Generar reserva</button>

                <button type="submit" [disabled]="false"
                class="main-button">Gestionar evento</button>            
            </div>

            <div class="col-2"> 
                <div class="box-total ">
                    <p class="value">{{totalReservations}}</p>
                    <p class="title">Total</p>
                </div>
                    
                <div class="box-confirm ">
                    <p class="value">{{totalConfirmArrive}}</p>
                    <p class="title">Confirmadas</p>
                </div>
            </div>  
        </div>

        <div class="form-group">
            <span class="code">Codigo</span>
            <input class="form-field" type="text" (change)="onSearch($event)">
        </div>
        <div class="main-reservation">
            <div class="card">  
                <cdk-virtual-scroll-viewport itemSize="40" class="virtual-scroll-container">
                    <ng-container  *cdkVirtualFor="let reserva of getReservationsUnconfirm(); let i = index">
                      <div class="reservation" [ngClass]="{ 'first-reservation': i === 0 }">
                        <div class="label">            
                            <div class="checkbox-wrapper-31">
                                <input type="checkbox" (change)="onConfirmBar(reserva._id,reserva.code)" [checked]="reserva.isChecked"/>
                                <svg  viewBox="0 0 35.6 35.6">
                                  <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
                                  <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
                                  <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
                                </svg>
                              </div>
                             <label > Nueva reserva {{reserva.code}} </label>
                        </div>
                        <div  class="buttons">
                            <button  class="reservation-button" (click)="editReservation()">
                                <mat-icon>edit</mat-icon>                        
                            </button>
                            
                            <button class="reservation-button" (click)="deleteReservation(reserva._id,reserva.code)">
                                <mat-icon>delete_outline</mat-icon>
                            </button> 
                        </div>
                          
                      </div>
                      <mat-progress-bar mode="determinate" [value]="reserva.progressBar" ></mat-progress-bar>
                    </ng-container>
                  </cdk-virtual-scroll-viewport>
                                             
                
                <div class="box total">
                    <p>{{numberOfUnconfirm}}</p>
                </div>

            </div>

            <div class="transparent-card"></div>

            <div class="card">
                <!--confirmadas-->
                <cdk-virtual-scroll-viewport itemSize="40" class="virtual-scroll-container">
                <ng-container  *cdkVirtualFor="let reserva of getReservationsConfirm(); let i = index" >
                    <div class="reservation" [ngClass]="{ 'first-reservation': i === 0 }">
                        <div class="label">
                            <div class="checkbox-wrapper-31">
                                <input type="checkbox" (change)="onConfirmArrive(reserva._id,reserva.code)"/>
                                <svg  viewBox="0 0 35.6 35.6">
                                  <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
                                  <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
                                  <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
                                </svg>
                              </div>
                              
                        <label class="label1">  Reserva de {{reserva.code}} </label>
                        </div>
                        <div  class="buttons">
                            <button  class="reservation-button" (click)="editReservation()">
                                <mat-icon>edit</mat-icon>                        
                            </button>
                            
                            <button class="reservation-button" (click)="deleteReservation(reserva._id,reserva.code)">
                                <mat-icon>delete_outline</mat-icon>
                            </button>                       
                        </div>  
                        
                    </div>
                </ng-container>
                </cdk-virtual-scroll-viewport>
                <div class="box confirm">
                    <p>{{numberOfConfirm}}</p>
                </div>

            </div>
        </div>

        

    </div>

</div>



