
.bar-dashboard{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {    
    width: 100%;
    height: 7%; 
    background-color: #110D20;
    display: flex;
    justify-content: flex-end;
    align-items: center;    
    font-weight: bolder;
    border-bottom: 4px solid #2E1F4D;
}
.header-left{
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 1%;
}

.hexagon{
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  
}

.hexagon img {  
    width: 20%;
    height: 200%;
} 
.bar-name {
    color: white;
}

.out-button{
    background-color: transparent;
    border-style: none;
    color: white;   
}
.out-button mat-icon{
    font-size: 20px;
    align-items: center;
    display: flex;    
    cursor: pointer;   
}

.hoja{
    position: absolute;
    width: 10%;
    height: 40%;    
}
.right{
    left: 90%;
    top: 30%;  
}
.left{   
    bottom: 100%;
    top: 40%;  
}

.form-group{
    margin-left: 2.5%;
    height: 8%;
    width: 17%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}
.form-group span{
    height: 100%;
    width: 30%;
    background-color: #DCA000;
    color: white;
    font-weight: bolder;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0px 0px 5px;
}
.form-group input{
    display: block;
    height: 100%;
    width: 70%;
    border-radius: 0px 5px 5px 0px;
    border-style: none;
    font-size: x-large; 
    padding: 0 10px; 
}
.form-field:focus {
    outline: none;
}

.main{
    display: flex;
    flex-direction: column;
    height: 92%;
    padding-top: 3%;
}
.one-row{
    display: flex;
    width: 95%;
    height: 22%;
    margin: 0% 2.5%;
}
.one-col,.two-col {
    display: flex;    
    width: 50%;
    gap: 5%;        
}
.two-col{
   justify-content: flex-end;
}
.main-button
{
    border-radius: 5px;
    background: #6C757D;
    color:white;
    width: 30%;
    height: 40%;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;    
    border-style: none; 
    display: flex;
    justify-content: center;
    align-items: center;       
}
.main-button:hover{
    background-color: #7f878f;
    box-shadow: inset 0px 0px 1px 3px #a4a6a8;
    font-size: 1.3rem;
    transition: all 0.5s ease;
    
}
.box-confirm,.box-total{
    display: flex;
    width: 20%;
    height: 70%;
    border-radius: 5px;
    font-weight: 700;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.box-total{    
    background: #B3BBCF;
    color: #FFF;   
}
.box-confirm{
    background: rgba(255, 255, 255, 0.23);
    box-shadow: 2px 2px 10px 5px #FFF inset;
    color: #DCA000;    
}

.title{
font-size: 1.2rem;
}
.value{
font-size: 3rem;
}

.main-reservation{
    display: flex;
    height: 70%;
    position: relative;
    column-gap: 5%;
    justify-content: center;
    align-items: flex-end;    
}

.card-reservation{
    background-color: #B3BBCF;
    width: 45%;
    height: 70%;
    display: flex;    
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    z-index: 1;
    padding: 2% 0;       
}

  .virtual-scroll-container {
    width: 90%;
    height: 100%;
  }
  
  .reservation {
    background-color: #DCA000;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-family: 'Signika Negative', sans-serif;
    border-radius: 5px;
    padding: 1%;
    border: 1px solid rgba(206, 220, 234, 0.98);
    display: flex;
    align-items: center;
    gap: 2%;
    margin: 2% 5% 0% ;
    width: 90%;

  }


  
  ::ng-deep .mdc-linear-progress__bar.mdc-linear-progress__primary-bar {
    /* Estilos personalizados aquí */
    width: 90% ;
    margin: 0% 5%
  }
  
  .label {
    width: 50%;
    margin-left: 2%;
    display: flex;
    align-items: center;
    gap: 2%;
  }
  
  .buttons {
    width: 50%;
    display: flex;
    gap: 5px;
    align-items: center;
  }
  
  .card-reservation ::-webkit-scrollbar {
    width: 0.5em; /* Ancho de la barra de desplazamiento */
  }
  
  .card-reservation ::-webkit-scrollbar-thumb {
    margin-top:5% ;
    background-color: #6C757D; /* Color del control deslizante */
    border-radius: 5px;
  }
  
.buttons {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-end;
  }

.reservation-button{
    background-color: transparent;
    border-style: none;
    color: black;   
}

.reservation-button mat-icon {
    font-size: 20px; /* Tamaño del ícono */
    align-items: center;
    display: flex;    
    cursor: pointer;   
}
.people{
  display: flex;
  flex-direction: row;
  width: 7%;
  align-items: center;
  margin-right: 2%;
  font-weight: bold;
}
.people img{
  width: 100%;
  height: 5%;
}
.transparent-card{
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.16);
    box-shadow: 2px 2px 10px 5px #FFF inset;
    width: 47%;
    height: 60%;
    position: absolute;
    margin-bottom: 8%;    
}

.box{
    width: 5%;
    height: 12%;
    background-color: #DCA000;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
    box-shadow: 1px -1px 6px 0px #000;
}
.confirm{
    margin-right: 45%;    
}
.total{
    left: 0;
}
.checkbox-wrapper-31:hover .check {
    stroke-dashoffset: 0;
  }

  .checkbox-wrapper-31 {
    position: relative;
    display: inline-block;
    width: 8%;
    display: flex;
  }
  .checkbox-wrapper-31 .background {
    fill: #ccc;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
  }
  .checkbox-wrapper-31 .stroke {
    fill: none;
    stroke: #2E1F4D;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
  }
  .checkbox-wrapper-31 .check {
    fill: none;
    stroke: #2E1F4D;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke-dashoffset: 22;
    stroke-dasharray: 22;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
  }
  .checkbox-wrapper-31 input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
  }
  .checkbox-wrapper-31 input[type=checkbox]:hover {
    cursor: pointer;
  }
  .checkbox-wrapper-31 input[type=checkbox]:checked + svg .background {
    fill: #fff;
  }
  .checkbox-wrapper-31 input[type=checkbox]:checked + svg .stroke {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-31 input[type=checkbox]:checked + svg .check {
    stroke-dashoffset: 0;
  }
    


