@import '~@angular/material/prebuilt-themes/indigo-pink.css';



.modal-header{
  background-color: #2E1F4D;
  font-size: x-large;
  font-weight: 500;
  color: white;
  
}
.modal-body,.modal-footer{
  background-color: #D9D9D9;
}

.main-button
{
    background: #6C757D;
    color:white;
    margin: 10%;
       
}

.main-button:not(:disabled):hover{
    background-color: #7f878f;
    box-shadow: inset 0px 0px 1px 3px #a4a6a8;
    font-size: 1.1rem;
    transition: all 0.5s ease;
    
}

.main-button:disabled{
  background-color: #AEAEAE;
  color: #6C757D;
}

