/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Signika+Negative:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-family: 'Signika Negative', sans-serif;
  }

  body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Signika Negative', sans-serif;
    background-image: url('assets/images/Fondo.png');
  }

  html, body{
    height: 100%;
  } 
